n8n/prospect-agent.workflow.json
{
  "name": "ALTEN Prospect Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prospect-search",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - Search Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "sector", "name": "sector", "value": "={{ $json.body.sector }}", "type": "string" },
            { "id": "location", "name": "location", "value": "={{ $json.body.location }}", "type": "string" },
            { "id": "count", "name": "count", "value": "={{ $json.body.count || 10 }}", "type": "number" },
            { "id": "criteria", "name": "criteria", "value": "={{ $json.body.criteria || '' }}", "type": "string" },
            { "id": "metrics", "name": "metrics", "value": "={{ $json.body.metrics || '' }}", "type": "string" }
          ]
        }
      },
      "id": "set-params",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key", "value": "={{ $env.GOOGLE_SEARCH_API_KEY }}" },
            { "name": "cx", "value": "={{ $env.GOOGLE_SEARCH_ENGINE_ID }}" },
            { "name": "q", "value": "={{ $json.sector }} companies {{ $json.location }} {{ $json.criteria }}" },
            { "name": "num", "value": "10" }
          ]
        },
        "options": {}
      },
      "id": "google-search",
      "name": "Google Search - Find Companies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "split-results",
      "name": "Split Search Results",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "title", "name": "title", "value": "={{ $json.title }}", "type": "string" },
            { "id": "link", "name": "link", "value": "={{ $json.link }}", "type": "string" },
            { "id": "snippet", "name": "snippet", "value": "={{ $json.snippet }}", "type": "string" }
          ]
        }
      },
      "id": "extract-search-data",
      "name": "Extract Search Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You are a business intelligence analyst for ALTEN, an engineering and technology consulting company. Analyze the following search result about a potential prospect company.\n\nSearch result:\nTitle: {{ $json.title }}\nURL: {{ $json.link }}\nSnippet: {{ $json.snippet }}\n\nSearch context:\nSector: {{ $('Extract Parameters').item.json.sector }}\nLocation: {{ $('Extract Parameters').item.json.location }}\nAdditional criteria: {{ $('Extract Parameters').item.json.criteria }}\nMetrics of interest: {{ $('Extract Parameters').item.json.metrics }}\n\nExtract and return ONLY a valid JSON object with these fields:\n{\n  \"company_name\": \"string\",\n  \"website\": \"string\",\n  \"sector\": \"string\",\n  \"location\": \"string (city, country)\",\n  \"description\": \"string (1-2 sentences)\",\n  \"estimated_revenue\": \"string or null\",\n  \"estimated_headcount\": \"string or null\",\n  \"growth_potential\": \"Low|Medium|High\",\n  \"uses_intellectual_services\": \"Yes|No|Unknown\",\n  \"relevance_score\": \"1-10 integer\",\n  \"prospecting_notes\": \"string (why ALTEN should target this company)\",\n  \"status\": \"New\"\n}\n\nIf the search result is not about a real company, return {\"skip\": true}."
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "responseFormat": "json_object"
        }
      },
      "id": "ai-analyze-prospect",
      "name": "AI - Analyze Prospect",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "filter-skip",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "skip",
              "operator": { "type": "string", "operation": "notContains" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid",
      "name": "Filter Valid Prospects",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "jsCode": "const content = $input.item.json.message?.content || $input.item.json.text || '{}';\ntry {\n  const parsed = JSON.parse(content);\n  if (parsed.skip) return [];\n  parsed.analyzed_at = new Date().toISOString();\n  return [{ json: parsed }];\n} catch(e) {\n  return [];\n}"
      },
      "id": "parse-json",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "url", "value": "={{ $env.GOOGLE_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "byName", "value": "Prospects" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "google-sheets-append",
      "name": "Google Sheets - Save Prospect",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-prospects",
      "name": "Aggregate All Prospects",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1980, 520]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You are a business intelligence analyst for ALTEN. Based on the following list of prospect companies, generate a concise market analysis report.\n\nProspects:\n{{ JSON.stringify($json.data, null, 2) }}\n\nGenerate a report with these sections:\n1. **Executive Summary** — 2-3 sentence overview\n2. **Market Overview** — sector trends and opportunities for ALTEN\n3. **Top Prospects** — rank the top 5 most promising prospects with reasoning\n4. **Recommended Actions** — 3-5 concrete next steps for ALTEN's commercial team\n5. **Risk Factors** — any concerns or gaps in the data\n\nKeep it professional, actionable, and under 500 words."
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "ai-market-report",
      "name": "AI - Market Analysis Report",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [2200, 520]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "report", "name": "report", "value": "={{ $json.message.content }}", "type": "string" },
            { "id": "generated_at", "name": "generated_at", "value": "={{ new Date().toISOString() }}", "type": "string" }
          ]
        }
      },
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2420, 520]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "apiKey", "value": "={{ $env.NEWS_API_KEY }}" },
            { "name": "q", "value": "={{ $('Extract Parameters').item.json.sector }} ALTEN {{ $('Extract Parameters').item.json.location }}" },
            { "name": "sortBy", "value": "publishedAt" },
            { "name": "pageSize", "value": "10" },
            { "name": "language", "value": "en" }
          ]
        },
        "options": {}
      },
      "id": "news-search",
      "name": "News API - Sector News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 740]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You are a business intelligence analyst for ALTEN. Summarize the following news articles into a brief news digest relevant to ALTEN's prospecting efforts in the {{ $('Extract Parameters').item.json.sector }} sector in {{ $('Extract Parameters').item.json.location }}.\n\nArticles:\n{{ JSON.stringify($json.articles?.slice(0, 10) || [], null, 2) }}\n\nFormat as a professional news digest with:\n- **Key Headlines** (top 3-5 most relevant)\n- **Market Signals** (what these mean for ALTEN)\n- **Opportunities** (any leads or timing advantages)\n\nKeep it under 300 words."
            }
          ]
        },
        "options": { "temperature": 0.3 }
      },
      "id": "ai-news-digest",
      "name": "AI - News Digest",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [2200, 740]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByPosition": true,
        "options": {}
      },
      "id": "merge-outputs",
      "name": "Merge Report + News",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [2640, 620]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "success", "name": "success", "value": true, "type": "boolean" },
            { "id": "market_report", "name": "market_report", "value": "={{ $json.report || $json.message?.content || '' }}", "type": "string" },
            { "id": "news_digest", "name": "news_digest", "value": "={{ $('AI - News Digest').item.json.message?.content || '' }}", "type": "string" },
            { "id": "generated_at", "name": "generated_at", "value": "={{ new Date().toISOString() }}", "type": "string" }
          ]
        }
      },
      "id": "final-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2860, 620]
    }
  ],
  "connections": {
    "Webhook - Search Request": {
      "main": [[{ "node": "Extract Parameters", "type": "main", "index": 0 }]]
    },
    "Extract Parameters": {
      "main": [[{ "node": "Google Search - Find Companies", "type": "main", "index": 0 }]]
    },
    "Google Search - Find Companies": {
      "main": [[{ "node": "Split Search Results", "type": "main", "index": 0 }]]
    },
    "Split Search Results": {
      "main": [[{ "node": "Extract Search Data", "type": "main", "index": 0 }]]
    },
    "Extract Search Data": {
      "main": [[{ "node": "AI - Analyze Prospect", "type": "main", "index": 0 }]]
    },
    "AI - Analyze Prospect": {
      "main": [[{ "node": "Filter Valid Prospects", "type": "main", "index": 0 }]]
    },
    "Filter Valid Prospects": {
      "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Parse AI Response": {
      "main": [[
        { "node": "Google Sheets - Save Prospect", "type": "main", "index": 0 },
        { "node": "Aggregate All Prospects", "type": "main", "index": 0 }
      ]]
    },
    "Aggregate All Prospects": {
      "main": [[
        { "node": "AI - Market Analysis Report", "type": "main", "index": 0 },
        { "node": "News API - Sector News", "type": "main", "index": 0 }
      ]]
    },
    "AI - Market Analysis Report": {
      "main": [[{ "node": "Format Report", "type": "main", "index": 0 }]]
    },
    "Format Report": {
      "main": [[{ "node": "Merge Report + News", "type": "main", "index": 0 }]]
    },
    "News API - Sector News": {
      "main": [[{ "node": "AI - News Digest", "type": "main", "index": 0 }]]
    },
    "AI - News Digest": {
      "main": [[{ "node": "Merge Report + News", "type": "main", "index": 1 }]]
    },
    "Merge Report + News": {
      "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": [{ "name": "ALTEN" }, { "name": "prospecting" }]
}
